.sotc {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.sotc .window-content {
  height: 100%;
  padding: 0px;
  overflow-y: hidden;
}
.sotc form {
  height: 100%;
}
.sotc .sheet-header-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 5px;
}
.sotc .sheet-header-top .name_and_mini {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-bottom: 5px;
}
.sotc .sheet-header-top .name_and_mini .mini_img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.sotc .sheet-header-top .name_and_mini .char_name {
  height: 35px;
  width: 350px;
  padding: 0px;
  border-bottom: 0;
  font-size: 1.5vw;
}
.sotc .sheet-header-top .name_and_mini .char_name input {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: inherit;
}
.sotc .sheet-header-top .char_role {
  width: 350px;
  padding: 0px;
  border-bottom: 0;
}
.sotc .sheet-header-top .char_role input {
  width: 100%;
  margin: 0;
  color: inherit;
  text-align: center;
}
.sotc .sheet-header {
  flex: 0 0 200px;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sotc .sheet-header .header-fields {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-bottom: 5px;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sotc .sheet-header .header-fields .profile-img {
  flex: 0 0 175px;
  height: 175px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sotc .sheet-header .header-fields .resource_summaries {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary_2 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary_2 .light_summary {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary_2 .dice_summary {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.sotc .resource {
  height: 30px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  float: left;
  text-align: left;
  gap: 5px;
}
.sotc .resource input {
  width: 30px;
  height: 30px;
  color: inherit;
  border: none;
  text-align: center;
}
.sotc .resource img {
  height: 30px;
}
.sotc .affinities input {
  color: inherit;
  border: none;
}

.sotc .sheet-body .summary_data {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.sotc .attributes {
  color: inherit;
  border: none;
  width: 150px;
  margin-left: 10px;
}
.sotc .attributes input {
  width: 30px;
  color: inherit;
  border: none;
}
.sotc .sheet-body .battle_abilities {
  width: 100%;
}
.sotc .sheet-body .battle_abilities .battle_editor_1 {
  height: 150px;
}
.sotc .sheet-body .battle_abilities .battle_editor_2 {
  height: 150px;
}
.sotc .sheet-body .battle_abilities input {
  width: 100%;
  color: inherit;
}
.sotc .sheet-body .battle_abilities input::placeholder {
  color: inherit;
}

.sotc .char_abilities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 5px;
}
.sotc .char_ability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}
.sotc .char_ability input {
  margin-left: 5px;
  width: 30%;
  color: inherit;
}
.sotc .char_ability textarea {
  font-size: 0.7vw;
  width: 60%;
  color: inherit;
  text-align: right;
  resize: none;
}

.sotc .sheet_passives {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 5px;
}
.sotc .passive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}
.sotc .passive input {
  margin-left: 5px;
  width: 30%;
  color: inherit;
}
.sotc .passive textarea {
  font-size: 0.7vw;
  width: 60%;
  color: inherit;
  text-align: right;
  resize: none;
}

.sotc .sheet-body {
  overflow: hidden;
}
.sotc .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.sotc .editor,
.sotc .editor-content {
  height: 100%;
}
.sotc .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.sotc .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.sotc .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.sotc .item-list .item-name {
  margin: 0;
}
.sotc .item-list .item-controls {
  flex: 0 0 36px;
}
.sotc .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.sotc .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.sotc .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
}
.sotc .group-controls {
  margin: 5px;
}
.sotc .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sotc .group {
  margin: 5px 0 0;
  padding: 0;
}
.sotc .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.sotc .group-key,
.sotc .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.sotc .group-key {
  opacity: 0.75;
}
.sotc .group-label {
  flex: 2;
}
.sotc .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}
.sotc.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.sotc.sheet.item {
  min-width: 660px;
  min-height: 400px;
}
.sotc .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.sotc .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.sotc .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.sotc .skill {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sotc .skill input {
  color: inherit;
}
.sotc .skill select {
  color: inherit;
}
.sotc .skill .left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.sotc .skill .left .skill_light {
  width: 100%;
  height: 75px;
  position: static;
}
.sotc .skill .left .skill_emotion {
  width: 100%;
  position: static;
}
.sotc .skill .left .skill_light img {
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 5px;
}
.sotc .skill .left .skill_emotion img {
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 80px;
}
.sotc .skill .left .skill_light input {
  z-index: 2;
  position: absolute;
  top: 40px;
  left: 5px;
  border: none;
}
.sotc .skill .left .skill_emotion input {
  z-index: 2;
  position: absolute;
  top: 40px;
  left: 80px;
  border: none;
}
.sotc .skill .left .left_header input {
  height: 75px;
  width: 75px;
  font-size: 40px;
  color: inherit;
  text-align: center;
}
.sotc .skill .left .skill_name {
  margin-top: 20px;
  margin-left: 5px;
}
.sotc .skill-img {
  height: auto;
  width: 100%
}
.sotc .skill .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5px;
}
.sotc .skill .right .right_header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sotc .skill .right .right_header .weight_and_limit {
  display: flex;
  flex-direction: column;
  width: 40%;
}
