.sotc {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
@font-face {
  font-family: "skill_font";
  src: url("/systems/sotc/assets/fonts/P22-Johnston-Underground-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alt_skill_font";
  src: url("/systems/sotc/assets/fonts/NotoSansDisplay_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.die-formula {
  font-weight: bold;
  font-size: 1rem;
}

.die-color-slash,
.die-color-pierce,
.die-color-blunt {
  color: #FF4C4C; /* Red */
}
.die-color-counter-slash,
.die-color-counter-pierce,
.die-color-counter-blunt,
.die-color-counter-block,
.die-color-counter-evade {
  color: #FFB84C; /* Gold */
}
.die-color-block,
.die-color-evade {
  color: #4C8CFF; /* Blue */
}

.sotc .window-content {
  height: 100%;
  padding: 0px;
  overflow-y: hidden;
}
.sotc form {
  height: 100%;
}
.sotc .sheet-header-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 5px;
}
.sotc .sheet-header-top .name_and_mini {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-bottom: 5px;
}
.sotc .sheet-header-top .name_and_mini .mini_img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.sotc .sheet-header-top .name_and_mini .char_name {
  height: 35px;
  width: 350px;
  padding: 0px;
  border-bottom: 0;
  font-size: 1.5vw;
}
.sotc .sheet-header-top .name_and_mini .char_name input {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: inherit;
}
.sotc .sheet-header-top .char_role {
  width: 350px;
  padding: 0px;
  border-bottom: 0;
}
.sotc .sheet-header-top .char_role input {
  width: 100%;
  margin: 0;
  color: inherit;
  text-align: center;
}
.sotc .sheet-header {
  flex: 0 0 200px;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sotc .sheet-header .header-fields {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-bottom: 5px;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sotc .sheet-header .header-fields .profile-img {
  flex: 0 0 175px;
  height: 175px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sotc .sheet-header .header-fields .resource_summaries {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary_2 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary_2 .light_summary {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.sotc .sheet-header .header-fields .resource_summaries .resource_summary_2 .dice_summary {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.sotc .resource {
  height: 30px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  float: left;
  text-align: left;
  gap: 5px;
}
.sotc .resource input {
  width: 30px;
  height: 30px;
  color: inherit;
  border: none;
  text-align: center;
}
.sotc .resource img {
  height: 30px;
}
.sotc .affinities input {
  color: inherit;
  border: none;
}

.sotc .sheet-body .summary_data {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.sotc .attributes {
  color: inherit;
  border: none;
  width: 150px;
  margin-left: 10px;
}
.sotc .attributes input {
  width: 30px;
  color: inherit;
  border: none;
}
.sotc .sheet-body .battle_abilities {
  width: 100%;
}
.sotc .sheet-body .battle_abilities .battle_editor_1 {
  height: 150px;
}
.sotc .sheet-body .battle_abilities .battle_editor_2 {
  height: 150px;
}
.sotc .sheet-body .battle_abilities input {
  width: 100%;
  color: inherit;
}
.sotc .sheet-body .battle_abilities input::placeholder {
  color: inherit;
}

.sotc .char_abilities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 5px;
}
.sotc .char_ability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}
.sotc .char_ability input {
  margin-left: 5px;
  width: 30%;
  color: inherit;
}
.sotc .char_ability textarea {
  font-size: 0.7vw;
  width: 60%;
  color: inherit;
  text-align: right;
  resize: none;
}

.sotc .sheet_passives {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 5px;
}
.sotc .passive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}
.sotc .passive input {
  margin-left: 5px;
  width: 30%;
  color: inherit;
}
.sotc .passive textarea {
  font-size: 0.7vw;
  width: 60%;
  color: inherit;
  text-align: right;
  resize: none;
}

.sotc .sheet-body {
  overflow: hidden;
}
.sotc .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.sotc .skill_list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 2px;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  text-shadow: #fc0 1px 0 10px;;
}
.sotc .skill_list .skill_card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  align-items: center;
  width: 33%;
  height: 33%;
  border: 2px double black;
  position: relative;
}
.skill_mini_image_background,
.skill_mini_image_border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.skill_mini_image_background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: relative;
}
.skill_light_icon {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 2;
  border: none;
  align-self: flex-start;
}
.skill_light {
  position: absolute;
  height: 35px;
  width: 35px;
  z-index: 3;
  font-family: "skill_font", sans-serif;
  font-size: 250%;
  color: black;
  align-self: flex-start;
  text-align: center;
  text-shadow: #fc0 1px 0 10px;
}
.skill_name,
.skill_roll_container,
.edit_and_delete {
  position: relative;
  z-index: 3;
  pointer-events: auto;
}
.skill_mini_image_border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
}
.sotc .skill_list .skill_card .skill_roll_container {
  display: flex;
  transition: opacity 0.6s ease;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
}
.sotc .skill_list .skill_card .skill_roll_container:hover .skill_roll-button {
  opacity: 1;
}
.sotc .skill_list .skill_card .edit_and_delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
}
.sotc .skill_list .skill_card .skill_roll-button {
  opacity: 0;
}
.sotc .skill_list .skill_card .new_skill_card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}




.sotc .editor,
.sotc .editor-content {
  height: 100%;
  color: inherit;
}
.sotc.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.sotc .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.sotc .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.sotc .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.sotc.sheet.item {
  min-width: 712px;
  min-height: 562px;
}
.sotc .skill {
  display: flex;
  flex-direction: row;
  font-family: "skill_font", sans-serif;
}
.sotc .skill input {
  font-family: "skill_font", sans-serif;
  text-shadow: #fc0 1px 0 10px;;
}
.sotc .skill textarea {
  font-family: "skill_font", sans-serif;
}
.sotc .skill .skill_border {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
.sotc .skill select {
  color: inherit;
}
.sotc .skill option {
  color: black;
}

.sotc .skill .left {
  display: flex;
  flex-direction: column;
  width: 53%;
  height: 100%;
  position: relative;
  align-items: center;
  flex: 1 0 auto;
}
.sotc .skill .left .left_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75px;
  position: relative;
  justify-content: space-between;
}
.sotc .skill .left .skill_light {
  width: 20%;
  position: relative;
  z-index: 2;
  margin-left: 5%;
}
.sotc .skill .left .skill_light input {
  width: 100%;
  position: relative;
  border: none;
}
.sotc .skill .left .weight {
  width: 20%;
  position: relative;
  z-index: 2;
  margin-right: 4.5%;
}
.sotc .skill .left .weight .weight_div {
  width: 100%;
  position: absolute;
  z-index: 3;
  border: none;
}
.sotc .skill .left .skill_name {
  position: relative;
  top: 4%;
  margin-right: 5px;
  width: 60%;
  height: 30px;
  font-size: 20px;
  text-align: center;
  z-index: 2;
  transform: rotate(-11deg);
}
.sotc .skill .left .skill-img_div {
  margin-top: 5%;
  flex-basis: 58%;
  width: 100%;
  overflow: hidden;
}
.sotc .skill .left .skill-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.sotc .skill .left .left_footer {
  align-self: end;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75px;
  position: relative;
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
}
.sotc .skill .left .skill_emotion {
  width: 20%;
  height: 75px;
  position: relative;
  z-index: 2;
  margin-left: 6%;
  margin-bottom: 10px;
  margin-right: 15px;
}
.sotc .skill .left .skill_emotion input {
  position: relative;
  border: none;
}
.sotc .skill .left .left_header .skill_light input {
  height: 75px;
  width: 75px;
  font-size: 75px;
  color: black;
  text-align: center;
}
.sotc .skill .left .left_header .weight input {
  height: 75px;
  width: 75px;
  font-size: 75px;
  color: black;
  text-align: center;
}
.sotc .skill .left .left_footer input {
  height: 75px;
  width: 75px;
  font-size: 75px;
  color: black;
  text-align: center;
}
.sotc .skill .left .left_footer .skill_description {
  height: 75px;
  width: 100%;
}
.sotc .skill .left .left_footer textarea {
  color: inherit;
  border: none;
  width: 100%;
  height: 75px;
  resize: none;
}
.sotc .skill .left .left_footer textarea::placeholder {
  color: inherit;
}
.sotc .skill .right {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin-top: 5px;
  clip-path: inset(0 20px 20px 0);
  position: relative;
  z-index: 2;
}
.sotc .skill .right input {
  color: inherit;
}
.sotc .skill .right textarea {
  color: inherit;
  resize: none;
}
.sotc .skill .right textarea::placeholder {
  color: inherit
}
.sotc .skill .right .right_header {
  display: flex;
  flex-direction: column;
  width: 92%;
  gap: 10px;
}
.sotc .skill .right .right_header .edit_and_limit {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sotc .skill .right .right_header .edit_and_limit .border-button {
  all: unset; /* Wipe all default button styles */
  padding: 2px;
  width: 5px;
  height: 5px;
  background-color: currentColor; /* Color comes from inline style or class */
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
}
.sotc .skill .right .right_header .edit_and_limit input {
  text-align: center;
}
.sotc .skill .right .right_header .weight_and_emotion {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5%;
}
.sotc .skill .right .right_header .weight_and_emotion input {
  text-align: center;
}
.sotc .skill .right .right_header .skill_mods {
  width: 85%;
  margin-right: 10px;
  align-self: flex-end;
  font-family: "alt_skill_font", sans-serif;
}
.sotc .skill .right .dice_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sotc .skill .right .dice_section .dice-die {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sotc .skill .right .dice_section .dice_mods .dice_modules-control {
  width: 15px;
  flex-shrink: 0;
  flex-grow: 0;
}
.sotc .skill .right .dice_section .dice_mods_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: flex-start;
}
.sotc .skill .right .dice_section .dice_mods_div .dice_mods {
  width: 90%;
}
.sotc .skill .right .dice_section .dice_mod_div_inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.sotc .skill .right .dice_section .dice_mod_div_inner input {
  width: 80%;
}
.sotc .skill .right .dice_section .div_dice {
  width: 100%;
}
.sotc .skill .right .displayed_dice {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.sotc .skill .right .displayed_dice .displayed_dice_mods {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  margin-right: 35px;
}