<form class="flexcol {{cssClass}}" autocomplete="off" style="background-image: url('systems/sotc/assets/sheets/sheet_background_two.png'); background-color: gray; color: #efc281;">

    {{!-- Sheet Header --}}
    <div class="sheet-header-top">
        <div class="name_and_mini">
            <img class="mini_img" src="{{systemData.mini_img}}" data-edit="system.mini_img" style="width:35px; height:35px; border:none;" />
            <div class="char_name">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
            </div>
        </div>
        <div class="char_role">
            <input name="system.role" type="text" value="{{systemData.role}}" placeholder="Role, i.e. The Black Silence"/>
        </div>
    </div>

    {{!-- Sheet Body --}}
    
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
            <div class="char_abilities">
                {{#each passives as |passive i| }}
                    {{#if (eq passive.system.type "biography")}}
                        <div class="passive_card" data-item-id="{{passive._id}}">
                            <div class="passive_left">
                                <h4 class="passive_name" style="font-size: 16px; color: inherit; font-weight: bold; text-shadow:  black 1px 0 10px, black 1px 0 10px;">{{passive.name}}</h4>
                                <div>
                                    <a class="passive_card-control print-passive_card" style="margin-bottom: 4px;">Print Biography Entry <i class="fas fa-print"></i></a>
                                    <div class="edit_and_delete"> 
                                        <a class="passive_card-control edit-passive_card"><i class="fas fa-edit"></i></a>
                                        <a class="passive_card-control duplicate-passive_card"><i class="fas fa-clone"></i></a>
                                        <a class="passive_card-control delete-passive_card"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="passive_right">
                                {{{passive.system.details}}}
                            </div>
                        </div>
                        <hr style="width: 90%; border: 1px solid white; margin-top: 8px; margin-bottom: 8px; opacity: 0.5">
                    {{/if}}
                {{/each}}
                <div class="passive_card">
                    <div class="passive_left" style="text-align: center;">
                        <a class="passive_card-control add-biography_card" style="height: 40px; font-size: 20px;">Add Biography Entry<br /><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Summary Tab --}}
        <div class="tab summary" data-group="primary" data-tab="summary">
            <div class="sheet-header">
                <div class="header-fields">
                    <div class="profile-img_div">
                        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
                    </div>
                    <div class="resource_summaries">
                        <div class="resource_summary">
                            <div class="resource" style="color: #ff5a39;">  
                                <img src="systems/sotc/assets/sheets/HPIcon.webp" alt="HP Icon" style="width:auto; height:30px; border:none;">
                                <input type="number" name="system.health.value" value="{{systemData.health.value}}"/>
                                <span> / </span>
                                <input type="number" name="system.health.max" value="{{systemData.health.max}}"/>
                            </div>
                            <div class="resource" style="color: #ffff39;">
                                <img src="systems/sotc/assets/sheets/StaggerIcon.webp" alt="Stagger Icon" style="width:auto; height:30px; border:none">
                                <input type="number" name="system.stagger.value" value="{{systemData.stagger.value}}"/>
                                <span> / </span>
                                <input type="number" name="system.stagger.max" value="{{systemData.stagger.max}}"/>
                            </div>
                            <div class="resource">
                                <img src="systems/sotc/assets/sheets/EmotionIcon.webp" alt="Emotion Icon" style="width:auto; height:30px; border:none">
                                <input type="number" name="system.emotion" value="{{systemData.emotion}}"/>
                            </div>
                        </div>
                        <div class="resource_summary_2">
                            <div class="light_summary">
                                <div class="resource">
                                    <img src="systems/sotc/assets/sheets/LightIcon.webp" alt="Light Icon" style="width:auto; height:30px; border:none">
                                    <input type="number" name="system.light.value" value="{{systemData.light.value}}"/>
                                    <span> / </span>
                                    <input type="number" name="system.light.max" value="{{systemData.light.max}}"/>
                                </div>
                                <div class="resource">
                                    <img src="systems/sotc/assets/sheets/LightGain.png" alt="Light Gain" style="width:auto; height:30px; border:none">
                                    <input type="number" name="system.light.light_regen" value="{{systemData.light.light_regen}}"/>
                                </div>
                            </div>
                            <div class="dice_summary">
                                <div class="resource">
                                    <img src="systems/sotc/assets/sheets/dice_num.webp" alt="Dice Number" style="width:auto; height:30px; border:none">
                                    <input type="number" name="system.speed_dice.num_dice" value="{{systemData.speed_dice.num_dice}}"/>
                                </div>
                                <div class="resource">
                                    <img src="systems/sotc/assets/sheets/dice_size.webp" alt="Dice Size" style="width:auto; height:30px; border:none">
                                    <input type="text" name="system.speed_dice.dice_size" value="{{systemData.speed_dice.dice_size}}" style="width:60px"/>
                                </div>
                            </div>
                        </div>
                        <div class="resource_summary_3">
                            <table class="affinities" style="border:none;">
                                <tr>
                                    <th><img src="systems/sotc/assets/sheets/dres_slash.webp" alt="Slash Damage Resistance" style="width:auto; height:30px; border:none"></th>
                                    <th><input type="number" name="system.affinities.damage_slash" value="{{systemData.affinities.damage_slash}}"/></th>
                                    <th><img src="systems/sotc/assets/sheets/sres_slash.webp" alt="Slash Stagger Resistance" style="width:auto; height:30px; border:none"></th>
                                    <th><input type="number" name="system.affinities.stagger_slash" value="{{systemData.affinities.stagger_slash}}"/></th>
                                </tr>
                                <tr>
                                    <th><img src="systems/sotc/assets/sheets/dres_pierce.webp" alt="Pierce Damage Resistance" style="width:auto; height:30px; border:none"></th>
                                    <th><input type="number" name="system.affinities.damage_pierce" value="{{systemData.affinities.damage_pierce}}"/></th>
                                    <th><img src="systems/sotc/assets/sheets/sres_pierce.webp" alt="Pierce Stagger Resistance" style="width:auto; height:30px; border:none"></th>
                                    <th><input type="number" name="system.affinities.stagger_pierce" value="{{systemData.affinities.stagger_pierce}}"/></th>
                                </tr>
                                <tr>
                                    <th><img src="systems/sotc/assets/sheets/dres_blunt.webp" alt="Blunt Damage Resistance" style="width:auto; height:30px; border:none"></th>
                                    <th><input type="number" name="system.affinities.damage_blunt" value="{{systemData.affinities.damage_blunt}}"/></th>
                                    <th><img src="systems/sotc/assets/sheets/sres_blunt.webp" alt="Blunt Stagger Resistance" style="width:auto; height:30px; border:none"></th>
                                    <th><input type="number" name="system.affinities.stagger_blunt" value="{{systemData.affinities.stagger_blunt}}"/></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary_data">
                <div class="attributes">
                    <table class="affinities" style="border:none;">
                        <tr>
                            <th><span class="attribute-label rollable" data-roll="1d10" data-label="might_test">Might:</span></th>
                            <th><input type="number" name="system.attribute.might.value" value="{{systemData.attribute.might.value}}"/></th>
                        </tr>
                        <tr>
                            <th>Vitality:</th>
                            <th><input type="number" name="system.attribute.vitality.value" value="{{systemData.attribute.vitality.value}}"/></th>
                        </tr>
                        <tr>
                            <th>Agility:</th>
                            <th><input type="number" name="system.attribute.agility.value" value="{{systemData.attribute.agility.value}}"/></th>
                        </tr>
                        <tr>
                            <th>Intellect:</th>
                            <th><input type="number" name="system.attribute.intellect.value" value="{{systemData.attribute.intellect.value}}"/></th>
                        </tr>
                        <tr>
                            <th>Instinct:</th>
                            <th><input type="number" name="system.attribute.instinct.value" value="{{systemData.attribute.instinct.value}}"/></th>
                        </tr>
                        <tr>
                            <th>Persona:</th>
                            <th><input type="number" name="system.attribute.persona.value" value="{{systemData.attribute.persona.value}}"/></th>
                        </tr>
                    </table>
                    <hr style="border-color: #efc281; border-width: 1px;">
                    <div class="misc_summary_data" style="font-weight: bold;"><span>Injuries:</span><input type="number" name="system.injuries" value="{{systemData.injuries}}"/></div>
                    <div class="misc_summary_data" style="font-weight: bold;"><span>Anxieties:</span><input type="number" name="system.anxieties" value="{{systemData.anxieties}}"/></div>
                    <hr style="border-color: #efc281; border-width: 1px;">
                    <div class="misc_summary_data" style="font-weight: bold;"><span>Level:</span><input type="number" name="system.level" value="{{systemData.level}}"/></div>
                    <hr style="border-color: #efc281; border-width: 1px;">
                    <div class="misc_summary_data" style="font-weight: bold;">Module Tracker</div>
                    <div class="misc_summary_data">Rank 1:<input type="number" name="system.modules.rank_1.used" value="{{systemData.modules.rank_1.used}}"/>/<input type="number" name="system.modules.rank_1.max" value="{{systemData.modules.rank_1.max}}"/></div>
                    <div class="misc_summary_data">Rank 2:<input type="number" name="system.modules.rank_2.used" value="{{systemData.modules.rank_2.used}}"/>/<input type="number" name="system.modules.rank_2.max" value="{{systemData.modules.rank_2.max}}"/></div>
                    <div class="misc_summary_data">Rank 3:<input type="number" name="system.modules.rank_3.used" value="{{systemData.modules.rank_3.used}}"/>/<input type="number" name="system.modules.rank_3.max" value="{{systemData.modules.rank_3.max}}"/></div>
                    <hr style="border-color: #efc281; border-width: 1px;">
                    <div class="misc_summary_data" style="font-weight: bold;">
                        <span style="text-align: center;">Initiative Type: </span>
                        <select name="system.initiative_type" style="color: inherit">
                            <option style="color: black" value="player" {{#if (eq systemData.initiative_type "player")}}selected{{/if}}>Player</option>
                            <option style="color: black" value="npc" {{#if (eq systemData.initiative_type "npc")}}selected{{/if}}>Non-Player</option>
                        </select>
                    </div>
                </div>
                <div class="battle_abilities">
                    <input type="text" name="system.battle_ability_1.name" value="{{systemData.battle_ability_1.name}}" placeholder="Battle Ability 1" style="height:30px; width:100%"/>
                    <div class="battle_editor_1">
                        {{editor battle1HTML target="system.battle_ability_1.details" button=true editable=editable engine="prosemirror"}}
                    </div>
                    <input type="text" name="system.battle_ability_2.name" value="{{systemData.battle_ability_2.name}}" placeholder="Battle Ability 2" style="height:30px; width:100%"/>
                    <div class="battle_editor_2">
                        {{editor battle2HTML target="system.battle_ability_2.details" button=true editable=editable engine="prosemirror"}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="skill_list">
                {{#each skills as |skill i| }}
                    <div class="skill_card" data-item-id="{{skill._id}}">
                        <div class="skill_mini_image_background">
                            <img src="{{skill.img}}" title="{{skill.name}}"/>
                        </div>
                        <div class="skill_mini_image_border">
                            <img src="systems/sotc/assets/sheets/UI_Loading_Frame.png"/>
                        </div>
                        <img class="skill_light_icon" src="systems/sotc/assets/sheets/LightIcon.webp">
                        <h4 class="skill_light_char">{{skill.system.light_cost}}</h4>
                        <h4 class="skill_name_char" style="text-align: center; text-shadow: black 1px 0 10px, black 1px 0 10px;">{{skill.name}}</h4>
                        <div class="skill_roll_container" style="width: 50%; height: 50%;">
                            <img src="systems/sotc/assets/sheets/dice_size.webp" class="skill_roll-button rollable" data-index="{{i}}" alt="Roll" style="width: auto; height: 40px; font-size: 40px; cursor: pointer; border: none;">
                        </div>
                        <div class="edit_and_delete"> 
                            <a class="skill_card-control edit-skill_card"><i class="fas fa-edit"></i></a>
                            <a class="skill_card-control duplicate-skill_card"><i class="fas fa-clone"></i></a>
                            <a class="skill_card-control delete-skill_card"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                {{/each}}
                <div class="skill_card">
                    <div class="new_skill_card">
                        <a class="skill_card-control add-skill_card" style="height: 40px; font-size: 20px;">Add Skill<br /><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        {{!-- EGO Tab --}}
        <div class="tab ego" data-group="primary" data-tab="ego">
            <div class="ego_list">
                {{#each egos as |ego i| }}
                    <div class="ego_container">
                        <input type="text" name="items.{{ego._id}}.system.risk" value="{{ego.system.risk}}" placeholder="ZAYIN..." style="height:10%; width:100%; border-color: black;"/>
                        <div class="skill_card" data-item-id="{{ego._id}}">
                            <div class="skill_mini_image_background">
                                <img src="{{ego.img}}" title="{{ego.name}}"/>
                            </div>
                            <div class="skill_mini_image_border">
                                <img src="systems/sotc/assets/sheets/UI_Loading_Frame.png"/>
                            </div>
                            <img class="skill_light_icon" src="systems/sotc/assets/sheets/LightIcon.webp">
                            <h4 class="skill_light_char">{{ego.system.light_cost}}</h4>
                            <h4 class="skill_name_char" style="text-align: center; text-shadow: black 1px 0 10px, black 1px 0 10px;">{{ego.name}}</h4>
                            <div class="skill_roll_container" style="width: 50%; height: 50%;">
                                <img src="systems/sotc/assets/sheets/dice_size.webp" class="skill_roll-button rollable" data-index="{{i}}" alt="Roll" style="width: auto; height: 40px; font-size: 40px; cursor: pointer; border: none;">
                            </div>
                            <div class="edit_and_delete"> 
                                <a class="skill_card-control edit-skill_card"><i class="fas fa-edit"></i></a>
                                <a class="skill_card-control duplicate-skill_card"><i class="fas fa-clone"></i></a>
                                <a class="skill_card-control delete-skill_card"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <input type="text" name="items.{{ego._id}}.system.passive_name" value="{{ego.system.passive_name}}" placeholder="EGO Passive" style="height:10%; width:100%; border-color: black;"/>
                        <textarea name="items.{{ego._id}}.system.passive" placeholder="Details..." style="height: 40%">{{ego.system.passive}}</textarea>
                    </div>
                {{/each}}
                <div class="ego_container">
                    <div class="new_skill_card">
                        <a class="skill_card-control add-ego_card" style="height: 40px; font-size: 20px;">Add EGO<br /><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Passives Tab --}}
        <div class="tab passives" data-group="primary" data-tab="passives">
            <div class="sheet_passives">
                {{#each passives as |passive i| }}
                    {{#if (eq passive.system.type "passive")}}
                        <div class="passive_card" data-item-id="{{passive._id}}">
                            <div class="passive_left">
                                <h4 class="passive_name" style="font-size: 16px; color: inherit; font-weight: bold; text-shadow:  black 1px 0 10px, black 1px 0 10px;">{{passive.name}}</h4>
                                <div>
                                    <a class="passive_card-control print-passive_card" style="margin-bottom: 4px;">Print Passive <i class="fas fa-print"></i></a>
                                    <div class="edit_and_delete"> 
                                        <a class="passive_card-control edit-passive_card"><i class="fas fa-edit"></i></a>
                                        <a class="passive_card-control duplicate-passive_card"><i class="fas fa-clone"></i></a>
                                        <a class="passive_card-control delete-passive_card"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="passive_right">
                                {{{passive.system.details}}}
                            </div>
                        </div>
                        <hr style="width: 90%; border: 1px solid white; margin-top: 8px; margin-bottom: 8px; opacity: 0.5">
                    {{/if}}
                {{/each}}
                <div class="passive_card">
                    <div class="passive_left" style="text-align: center;">
                        <a class="passive_card-control add-passive_card" style="height: 40px; font-size: 20px;">Add Passive<br /><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Statuses Tab --}}
        <div class="tab statuses" data-group="primary" data-tab="statuses">
            <!-- I've realized I could probably make this better by using a flex box and having each thing orient itself into the respective box, but realistic O(4n) is uh, well, O(n). Go figure, but yeah it looks ugly. -->
            <div class="buffs_and_debuffs">
                <div class="buffs">
                    {{#each statuses as |status i| }}
                        {{#if (eq status.system.types "buff")}}
                            <div class="status_card" data-item-id="{{status._id}}">
                                <div class="status_mini_image">
                                    <img class="status_mini_image" src="{{status.img}}" title="{{status.name}}"/>
                                </div>
                                <div class="status_card_info">
                                    <div class="status_name_and_buttons">
                                        <div class="status_name_char">{{status.name}}</div>
                                        {{#if (eq status.system.condition "active")}}
                                            <div class="status_buttons">
                                                <span style="font-size: 14px;">Trigger:</span>
                                                {{#each status.system.post_actives as |post_active j| }}
                                                    {{#if (eq post_active.operator "maintain")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}">—</button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "subtract")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            -{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "divide")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            /{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "add")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            +{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "multiply")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            x{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                {{/each}}
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "passive")}}
                                            <div class="status_passive_effect">
                                                {{status.system.effect}} {{status.system.target}} by {{status.system.potency_flat}} flat, and by {{status.system.potency}} per count.
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "special")}}
                                            <div class="status_special_effect">
                                                Special effect.
                                            </div>
                                        {{/if}}
                                        
                                    </div>
                                    <div class="status_count">
                                        <input type="number" name="items.{{status._id}}.system.count" value="{{status.system.count}}"/>
                                    </div>
                                    <div class="status_edit_and_delete"> 
                                        <a class="status_card-control edit-status_card"><i class="fas fa-edit"></i></a>
                                        <a class="status_card-control duplicate-status_card"><i class="fas fa-clone"></i></a>
                                        <a class="status_card-control delete-status_card"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                    <div class="new_status_card">
                        <a class="status_card-control add-status_card" style="height: 40px; font-size: 20px;">Add Buff<br/><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <hr style="width: 1px; border: 1px solid white;">
                <div class="debuffs">
                    {{#each statuses as |status i| }}
                        {{#if (eq status.system.types "debuff")}}
                            <div class="status_card" data-item-id="{{status._id}}">
                                <div class="status_mini_image">
                                    <img class="status_mini_image" src="{{status.img}}" title="{{status.name}}"/>
                                </div>
                                <div class="status_card_info">
                                    <div class="status_name_and_buttons">
                                        <div class="status_name_char">{{status.name}}</div>
                                        {{#if (eq status.system.condition "active")}}
                                            <div class="status_buttons">
                                                <span style="font-size: 14px;">Trigger:</span>
                                                {{#each status.system.post_actives as |post_active j| }}
                                                    {{#if (eq post_active.operator "maintain")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}">—</button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "subtract")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            -{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "divide")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            /{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "add")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            +{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "multiply")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            x{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                {{/each}}
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "passive")}}
                                            <div class="status_passive_effect">
                                                {{status.system.effect}} {{status.system.target}} by {{status.system.potency_flat}} flat, and by {{status.system.potency}} per count.
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "special")}}
                                            <div class="status_special_effect">
                                                Special effect.
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="status_count">
                                        <input type="number" name="items.{{status._id}}.system.count" value="{{status.system.count}}"/>
                                    </div>
                                    <div class="status_edit_and_delete"> 
                                        <a class="status_card-control edit-status_card"><i class="fas fa-edit"></i></a>
                                        <a class="status_card-control duplicate-status_card"><i class="fas fa-clone"></i></a>
                                        <a class="status_card-control delete-status_card"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                    <div class="new_status_card">
                        <a class="status_card-control add-status_card" style="height: 40px; font-size: 20px;">Add Debuff<br/><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <hr style="width: 90%; border: 1px solid white; margin-top: 8px; margin-bottom: 8px;">
            <div class="boons_and_ailments">
                <div class="boons">
                    {{#each statuses as |status i| }}
                        {{#if (eq status.system.types "boon")}}
                            <div class="status_card" data-item-id="{{status._id}}">
                                <div class="status_mini_image">
                                    <img class="status_mini_image" src="{{status.img}}" title="{{status.name}}"/>
                                </div>
                                <div class="status_card_info">
                                    <div class="status_name_and_buttons">
                                        <div class="status_name_char">{{status.name}}</div>
                                        {{#if (eq status.system.condition "active")}}
                                            <div class="status_buttons">
                                                <span style="font-size: 14px;">Trigger:</span>
                                                {{#each status.system.post_actives as |post_active j| }}
                                                    {{#if (eq post_active.operator "maintain")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}">—</button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "subtract")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            -{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "divide")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            /{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "add")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            +{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "multiply")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            x{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                {{/each}}
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "passive")}}
                                            <div class="status_passive_effect">
                                                {{status.system.effect}} {{status.system.target}} by {{status.system.potency_flat}} flat, and by {{status.system.potency}} per count.
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "special")}}
                                            <div class="status_special_effect">
                                                Special effect.
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="status_count">
                                        <input type="number" name="items.{{status._id}}.system.count" value="{{status.system.count}}"/>
                                    </div>
                                    <div class="status_edit_and_delete"> 
                                        <a class="status_card-control edit-status_card"><i class="fas fa-edit"></i></a>
                                        <a class="status_card-control duplicate-status_card"><i class="fas fa-clone"></i></a>
                                        <a class="status_card-control delete-status_card"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                    <div class="new_status_card">
                        <a class="status_card-control add-status_card" style="height: 40px; font-size: 20px;">Add Boon<br/><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <hr style="width: 1px; border: 1px solid white;">
                <div class="ailments">
                    {{#each statuses as |status i| }}
                        {{#if (eq status.system.types "ailment")}}
                            <div class="status_card" data-item-id="{{status._id}}">
                                <div class="status_mini_image">
                                    <img class="status_mini_image" src="{{status.img}}" title="{{status.name}}"/>
                                </div>
                                <div class="status_card_info">
                                    <div class="status_name_and_buttons">
                                        <div class="status_name_char">{{status.name}}</div>
                                        {{#if (eq status.system.condition "active")}}
                                            <div class="status_buttons">
                                                <span style="font-size: 14px;">Trigger:</span>
                                                {{#each status.system.post_actives as |post_active j| }}
                                                    {{#if (eq post_active.operator "maintain")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}">—</button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "subtract")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            -{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "divide")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            /{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "add")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            +{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "multiply")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            x{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                {{/each}}
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "passive")}}
                                            <div class="status_passive_effect">
                                                {{status.system.effect}} {{status.system.target}} by {{status.system.potency_flat}} flat, and by {{status.system.potency}} per count.
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "special")}}
                                            <div class="status_special_effect">
                                                Special effect.
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="status_count">
                                        <input type="number" name="items.{{status._id}}.system.count" value="{{status.system.count}}"/>
                                    </div>
                                    <div class="status_edit_and_delete"> 
                                        <a class="status_card-control edit-status_card"><i class="fas fa-edit"></i></a>
                                        <a class="status_card-control duplicate-status_card"><i class="fas fa-clone"></i></a>
                                        <a class="status_card-control delete-status_card"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                    <div class="new_status_card">
                        <a class="status_card-control add-status_card" style="height: 40px; font-size: 20px;">Add Ailment<br/><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <hr style="width: 90%; border: 1px solid white; margin-top: 8px; margin-bottom: 8px;">
            <div class="other_statuses">
                <div class="other">
                    {{#each statuses as |status i| }}
                        {{#if (eq status.system.types "other")}}
                            <div class="status_card" data-item-id="{{status._id}}">
                                <div class="status_mini_image">
                                    <img class="status_mini_image" src="{{status.img}}" title="{{status.name}}"/>
                                </div>
                                <div class="status_card_info">
                                    <div class="status_name_and_buttons">
                                        <div class="status_name_char">{{status.name}}</div>
                                        {{#if (eq status.system.condition "active")}}
                                            <div class="status_buttons">
                                                <span style="font-size: 14px;">Trigger:</span>
                                                {{#each status.system.post_actives as |post_active j| }}
                                                    {{#if (eq post_active.operator "maintain")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}">—</button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "subtract")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            -{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "divide")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            /{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "add")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            +{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                    {{#if (eq post_active.operator "multiply")}}
                                                        <button type="button" class="post_active-button" data-item-id="{{../_id}}" data-index="{{j}}" title="{{post_active.operator}}{{post_active.variable}}">
                                                            x{{post_active.variable}}
                                                        </button>
                                                    {{/if}}
                                                {{/each}}
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "passive")}}
                                            <div class="status_passive_effect">
                                                {{status.system.effect}} {{status.system.target}} by {{status.system.potency_flat}} flat, and by {{status.system.potency}} per count.
                                            </div>
                                        {{/if}}
                                        {{#if (eq status.system.condition "special")}}
                                            <div class="status_special_effect">
                                                Special effect.
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="status_count">
                                        <input type="number" name="items.{{status._id}}.system.count" value="{{status.system.count}}"/>
                                    </div>
                                    <div class="status_edit_and_delete"> 
                                        <a class="status_card-control edit-status_card"><i class="fas fa-edit"></i></a>
                                        <a class="status_card-control duplicate-status_card"><i class="fas fa-clone"></i></a>
                                        <a class="status_card-control delete-status_card"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                    <div class="new_status_card">
                        <a class="status_card-control add-status_card" style="height: 40px; font-size: 20px;">Add Other<br/><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="summary">Summary</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="ego">EGO</a>
        <a class="item" data-tab="statuses">Statuses</a>
        <a class="item" data-tab="passives">Passives</a>
        <a class="item" data-tab="biography">Biography</a>
    </nav>

</form>
